body div[class^='btn'],
body .ol-control {
    background-color: #4b7b81;
}

/* body div[class^="btn"]:hover {
    background-color: #dd1533;
} */

[type="checkbox"],
[type="radio"] {
  accent-color: #4b7b81 !important;
}
#btnZuruck{
    background-color: #445254;
}
#btnZuruck::before {
    content: "";
    position: absolute;
    display:block;
    background: url(../img/Logo-GIS-Daten-AG.svg) center no-repeat;
    background-size: contain;
    top: 0.3rem;
    right: 1rem;
    width: 1.8rem;
    height: 1.8rem;
    color:white;
    pointer-events: none;
    z-index: 0;
}
/* body .ol-control {
    z-index: 99;
} */

#custompaneContainer_splitter {display:none;}
